.login-register
  .nav-head
    height: 60px
    background-color: #F4F5F9
    border-bottom: 1px solid #D6D6D6
    padding: 20px
    p
      margin: 0px
      font-size: 18px
      margin-left: 10px
      color: #6D6D6D
  .container
    height: 600px
    width: 100%
    background-color: #333
    position: relative
    
    .content
      margin-left: auto
      margin-right: auto
      margin-top: 100px
      background-color: white
      width: 400px
      // height: 300px

      .tabs
        .choose
          background-color: #F4F5F9

        .login-tab, .register-tab
          display: inline-block
          width: 200px
          text-align: center
          height: 40px
          line-height: 40px
          float: left
          border-bottom: 1px #D6D6D6 solid

          &:hover
            cursor: pointer
            background-color: #F4F5F9

        .login-tab
          border-right: 1px #D6D6D6 solid

      .tabs-content
        .login-content, .register-content
          form 
            padding: 10px !important;
            padding-top: 70px !important;

        .login-content
          height: 220px

        .register-content
          height: 270px
          
  .footer
    height: 60px
    padding-top: 20px
    text-align: center
    background-color: #F4F5F9