.side-menu(ng-controller='side-menu')
  .wrapper
    .container
      .profile
        .avatar
          img(src='/avatars/avatar2.png')
        .username {{user.username}}
      ul.menu-list
        li
          a.choose(ng-href='{{"/" + user.username + "/"}}') 主页
        li
          a(ng-href='{{"/" + user.username + "/my-court"}}') 我的球场
        li
          a(ng-href='{{"/" + user.username + "/profile"}}') 个人信息
        li
          a(ng-href='{{"/" + user.username + "/court-manage"}}') 球场管理
        li
          a(ng-href='{{"/" + user.username + "/order-manage"}}') 订单管理
        li(ng-click='logout($event)') 退出登录
