.side-menu
  position: fixed
  left: 0px
  top: 0px
  width: 200px
  background-color: #333
  height: 100%
  color: white
  overflow: hidden

  .wrapper
    .container
      width: 200px
      padding: 0px
      .profile
        .avatar
          width: 80px
          margin-left: auto
          margin-right: auto
          margin-top: 20px 
          margin-bottom: 10px
          img 
            width: 80px
            height: 80px
            border-radius: 50%
        .username
          text-align: center
          font-size: 18px
          margin-bottom: 10px
      ul.menu-list
        padding: 0px
        text-align: center

        .choose 
          background-color: #6F6F6F

        li 
          list-style-type: none
          height: 30px
          padding: 0px
          line-height: 30px

          a 
            display: inline-block
            width: 100%

          a:disabled, a:link, a:active, a:hover, a:visited
            color: white
            text-decoration: none

          &:hover 
            background-color: #6F6F6F
            cursor: pointer
          
