.login-register(ng-controller='login-register')
  .nav-head
    p 中山大学羽毛球场预定系统
  .container
    .content
      .tabs
        .login-tab.choose(ng-click='selectLoginTab($event)')
          span 登录
        .register-tab(ng-click='selectRegisterTab($event)')
          span 注册
      .tabs-content
        .login-content(ng-show='tab.select == "login"')
          form.form-horizontal(ng-submit='loginOneUser($event)')
            .form-group
              label.col-sm-3.control-label(for='loginUsername') Username
              .col-sm-9
                input#loginUsername.form-control(type='text' placeholder='Username' ng-model='user.username' required)
            .form-group
              label.col-sm-3.control-label(for='loginPassword') Password
              .col-sm-9
                input#loginPassword.form-control(type='password' placeholder='Password' ng-model='user.password' required)
            .form-group
              .col-sm-offset-8.col-sm-3
                button.btn.btn-default(type='submit') Login
        .register-content(ng-show='tab.select == "register"')
          form.form-horizontal(ng-submit='registerOneUser($event)')
            .form-group
              label.col-sm-3.control-label(for='registerUsername') Username
              .col-sm-9
                input#registerUsername.form-control(type='text' placeholder='Username'  ng-model='user.username' required)
            .form-group
              label.col-sm-3.control-label(for='registerPassword') Password
              .col-sm-9
                input#registerPassword.form-control(type='password' placeholder='Password'  ng-model='user.password' required)
            .form-group
              label.col-sm-3.control-label(for='registerPassword') Confirm
              .col-sm-9
                input#confirmPassword.form-control(type='password' placeholder='Confirm Password' ng-model='user.rePassword' required)
            .form-group
              .col-sm-offset-8.col-sm-3
                button.btn.btn-default(type='submit') Register
  .footer
    p 技术支持：jiarongwu.se@foxmail.com（2016年）
