html
  head
    title Badminton Court Booking
    meta(charset='utf-8')
    base(href="/")

    <!-- inject:css -->
    <!-- endinject -->

  body(ng-controller='badminton')
    //- 应用路由里面的模板的替换部分
    ng-include(ng-show='isUserLogin' src="'/app-angular/side-menu/views/side-menu.client.view.html'")
    
    section(ng-view)

    <!-- inject:js -->
    <!-- endinject -->
